# US counties COVID 19 dataset Analysis wtih Pandas

In [3]:
#import pandas
import pandas as pd

In [5]:
# import data
df = pd.read_csv('us-counties.csv')

In [7]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [43]:
len(df)

182670

In [32]:
# Get the number of state where the COVID-19 affected. 
num_state = df.state.nunique()
print(num_state)

55

In [41]:
# Number of the casese per the State
num_case_state = df.groupby('state').cases.sum().reset_index()

In [42]:
print(num_case_state)

                       state     cases
0                    Alabama    434582
1                     Alaska     19562
2                    Arizona    477224
3                   Arkansas    180568
4                 California   2963244
5                   Colorado    840148
6                Connecticut   1438471
7                   Delaware    261454
8       District of Columbia    254431
9                    Florida   1883445
10                   Georgia   1408510
11                      Guam     51754
12                    Hawaii     33334
13                     Idaho    112147
14                  Illinois   3184464
15                   Indiana   1019030
16                      Iowa    451062
17                    Kansas    259999
18                  Kentucky    274092
19                 Louisiana   1556223
20                     Maine     67618
21                  Maryland   1318880
22             Massachusetts   3211137
23                  Michigan   2188442
24                 Minnesota    443596
25               Mississippi    399703
26                  Missouri    433190
27                   Montana     25316
28                  Nebraska    297366
29                    Nevada    284048
30             New Hampshire    129955
31                New Jersey   6112503
32                New Mexico    199243
33                  New York  16151832
34            North Carolina    641738
35              North Dakota     63314
36  Northern Mariana Islands       864
37                      Ohio   1007760
38                  Oklahoma    205920
39                    Oregon    147113
40              Pennsylvania   2539636
41               Puerto Rico     96140
42              Rhode Island    443621
43            South Carolina    344396
44              South Dakota    136245
45                 Tennessee    646389
46                     Texas   1726957
47                      Utah    271736
48                   Vermont     48284
49            Virgin Islands      3580
50                  Virginia    984116
51                Washington    868307
52             West Virginia     61763
53                 Wisconsin    442036
54                   Wyoming     30938

In [67]:
# Number of the deaths per the state
num_deaths_state = df.groupby('state').deaths.sum().reset_index()

In [69]:
print(num_deaths_state)

                       state   deaths
0                    Alabama    16075
1                     Alaska      392
2                    Arizona    21246
3                   Arkansas     3676
4                 California   114023
5                   Colorado    41904
6                Connecticut   115508
7                   Delaware     8824
8       District of Columbia    12147
9                    Florida    69977
10                   Georgia    59805
11                      Guam      329
12                    Hawaii      731
13                     Idaho     3070
14                  Illinois   136990
15                   Indiana    59061
16                      Iowa    10659
17                    Kansas     7137
18                  Kentucky    13086
19                 Louisiana    96863
20                     Maine     2690
21                  Maryland    63104
22             Massachusetts   187148
23                  Michigan   187723
24                 Minnesota    21658
25               Mississippi    17004
26                  Missouri    20036
27                   Montana      724
28                  Nebraska     4014
29                    Nevada    13160
30             New Hampshire     5154
31                New Jersey   366607
32                New Mexico     7841
33                  New York  1168707
34            North Carolina    21665
35              North Dakota     1386
36  Northern Mariana Islands      108
37                      Ohio    53912
38                  Oklahoma    11346
39                    Oregon     5511
40              Pennsylvania   142990
41               Puerto Rico     4586
42              Rhode Island    16162
43            South Carolina    13213
44              South Dakota     1274
45                 Tennessee    11236
46                     Texas    45963
47                      Utah     2771
48                   Vermont     2481
49            Virgin Islands      198
50                  Virginia    32365
51                Washington    45652
52             West Virginia     2170
53                 Wisconsin    17158
54                   Wyoming      320

In [80]:
# Merge the 2 DataFrame to compare the COVID-19 cases and deaths
case_deaths_state = pd.merge(num_case_state,num_deaths_state)
print("The Number of cases and deaths per State and rate of deaths")
print("")
case_deaths_state['Rate'] = case_deaths_state['deaths']/case_deaths_state['cases']
print(case_deaths_state)

The Number of cases and deaths per State and rate of deaths

                       state     cases   deaths      Rate
0                    Alabama    434582    16075  0.036990
1                     Alaska     19562      392  0.020039
2                    Arizona    477224    21246  0.044520
3                   Arkansas    180568     3676  0.020358
4                 California   2963244   114023  0.038479
5                   Colorado    840148    41904  0.049877
6                Connecticut   1438471   115508  0.080299
7                   Delaware    261454     8824  0.033750
8       District of Columbia    254431    12147  0.047742
9                    Florida   1883445    69977  0.037154
10                   Georgia   1408510    59805  0.042460
11                      Guam     51754      329  0.006357
12                    Hawaii     33334      731  0.021930
13                     Idaho    112147     3070  0.027375
14                  Illinois   3184464   136990  0.043018
15                   Indiana   1019030    59061  0.057958
16                      Iowa    451062    10659  0.023631
17                    Kansas    259999     7137  0.027450
18                  Kentucky    274092    13086  0.047743
19                 Louisiana   1556223    96863  0.062242
20                     Maine     67618     2690  0.039782
21                  Maryland   1318880    63104  0.047847
22             Massachusetts   3211137   187148  0.058281
23                  Michigan   2188442   187723  0.085779
24                 Minnesota    443596    21658  0.048824
25               Mississippi    399703    17004  0.042542
26                  Missouri    433190    20036  0.046252
27                   Montana     25316      724  0.028599
28                  Nebraska    297366     4014  0.013499
29                    Nevada    284048    13160  0.046330
30             New Hampshire    129955     5154  0.039660
31                New Jersey   6112503   366607  0.059977
32                New Mexico    199243     7841  0.039354
33                  New York  16151832  1168707  0.072358
34            North Carolina    641738    21665  0.033760
35              North Dakota     63314     1386  0.021891
36  Northern Mariana Islands       864      108  0.125000
37                      Ohio   1007760    53912  0.053497
38                  Oklahoma    205920    11346  0.055099
39                    Oregon    147113     5511  0.037461
40              Pennsylvania   2539636   142990  0.056303
41               Puerto Rico     96140     4586  0.047701
42              Rhode Island    443621    16162  0.036432
43            South Carolina    344396    13213  0.038366
44              South Dakota    136245     1274  0.009351
45                 Tennessee    646389    11236  0.017383
46                     Texas   1726957    45963  0.026615
47                      Utah    271736     2771  0.010197
48                   Vermont     48284     2481  0.051383
49            Virgin Islands      3580      198  0.055307
50                  Virginia    984116    32365  0.032887
51                Washington    868307    45652  0.052576
52             West Virginia     61763     2170  0.035134
53                 Wisconsin    442036    17158  0.038816
54                   Wyoming     30938      320  0.010343

In [54]:
# Add the new column only show month
month = lambda x: x.split('-')[-2]
df['month'] = df.date.apply(month)

In [55]:
print(df.head())

         date     county       state     fips  cases  deaths month
0  2020-01-21  Snohomish  Washington  53061.0      1       0    01
1  2020-01-22  Snohomish  Washington  53061.0      1       0    01
2  2020-01-23  Snohomish  Washington  53061.0      1       0    01
3  2020-01-24       Cook    Illinois  17031.0      1       0    01
4  2020-01-24  Snohomish  Washington  53061.0      1       0    01

In [62]:
# Make a pivot table
monthly_state_case = df.groupby(['state', 'month']).cases.sum().reset_index()
monthly_state_deaths = df.groupby(['state', 'month']).deaths.sum().reset_index()

In [61]:
print(monthly_state_case)

         state month   cases
0      Alabama    03    6129
1      Alabama    04  125166
2      Alabama    05  303287
3       Alaska    03     851
4       Alaska    04    8231
..         ...   ...     ...
174  Wisconsin    04  118741
175  Wisconsin    05  313917
176    Wyoming    03     776
177    Wyoming    04   10950
178    Wyoming    05   19212

[179 rows x 3 columns]

In [82]:
# Merge before make a pivot table
monthly_state_case_deaths = pd.merge(monthly_state_case,monthly_state_deaths)

In [83]:
print(monthly_state_case_deaths)

         state month   cases  deaths
0      Alabama    03    6129      42
1      Alabama    04  125166    4044
2      Alabama    05  303287   11989
3       Alaska    03     851       8
4       Alaska    04    8231     173
..         ...   ...     ...     ...
174  Wisconsin    04  118741    5402
175  Wisconsin    05  313917   11621
176    Wyoming    03     776       0
177    Wyoming    04   10950      82
178    Wyoming    05   19212     238

[179 rows x 4 columns]

In [95]:
monthly_state_case_deaths_pivot = monthly_state_case_deaths.pivot(columns = 'month',
                                                                  index = 'state',
                                                                  values = ['cases','deaths']).reset_index()

In [96]:
print(monthly_state_case_deaths_pivot)

                          state cases                                         \
month                              01     02        03         04         05
0                       Alabama   NaN    NaN    6129.0   125166.0   303287.0
1                        Alaska   NaN    NaN     851.0     8231.0    10480.0
2                       Arizona   6.0   29.0    6830.0   128668.0   341691.0
3                      Arkansas   NaN    NaN    4423.0    53626.0   122519.0
4                    California  14.0  285.0   55413.0   865590.0  2041942.0
5                      Colorado   NaN    NaN   18633.0   264048.0   557467.0
6                   Connecticut   NaN    NaN   14606.0   467157.0   956708.0
7                      Delaware   NaN    NaN    1887.0    67480.0   192087.0
8          District of Columbia   NaN    NaN    2923.0    70950.0   180558.0
9                       Florida   NaN    NaN   35595.0   671169.0  1176681.0
10                      Georgia   NaN    NaN   22159.0   453517.0   932834.0
11                         Guam   NaN    NaN     594.0    20795.0    30365.0
12                       Hawaii   NaN    NaN    1474.0    14989.0    16871.0
13                        Idaho   NaN    NaN    2360.0    45937.0    63850.0
14                     Illinois  10.0   59.0   33617.0   802382.0  2348396.0
15                      Indiana   NaN    NaN   10086.0   290474.0   718470.0
16                         Iowa   NaN    NaN    2794.0    83729.0   364539.0
17                       Kansas   NaN    NaN    2408.0    55555.0   202036.0
18                     Kentucky   NaN    NaN    3437.0    74974.0   195681.0
19                    Louisiana   NaN    NaN   28926.0   625160.0   902137.0
20                        Maine   NaN    NaN    2126.0    22360.0    43132.0
21                     Maryland   NaN    NaN    8831.0   327468.0   982581.0
22                Massachusetts   NaN   29.0   34418.0   977778.0  2198912.0
23                     Michigan   NaN    NaN   39194.0   817300.0  1331948.0
24                    Minnesota   NaN    NaN    4484.0    65257.0   373855.0
25                  Mississippi   NaN    NaN    5798.0   109725.0   284180.0
26                     Missouri   NaN    NaN    6585.0   144284.0   282321.0
27                      Montana   NaN    NaN    1200.0    11538.0    12578.0
28                     Nebraska   NaN  151.0    1686.0    44883.0   250646.0
29                       Nevada   NaN    NaN    6928.0    97692.0   179428.0
30                New Hampshire   NaN    NaN    2232.0    36791.0    90932.0
31                   New Jersey   NaN    NaN   92534.0  2186172.0  3833797.0
32                   New Mexico   NaN    NaN    1989.0    49432.0   147822.0
33                     New York   NaN    NaN  464981.0  6331101.0  9355750.0
34               North Carolina   NaN    NaN    8617.0   168317.0   464804.0
35                 North Dakota   NaN    NaN     787.0    14828.0    47699.0
36     Northern Mariana Islands   NaN    NaN       8.0      355.0      501.0
37                         Ohio   NaN    NaN   12115.0   287164.0   708481.0
38                     Oklahoma   NaN    NaN    3069.0    67883.0   134968.0
39                       Oregon   NaN    2.0    4621.0    50484.0    92006.0
40                 Pennsylvania   NaN    NaN   23859.0   822679.0  1693098.0
41                  Puerto Rico   NaN    NaN     995.0    28004.0    67141.0
42                 Rhode Island   NaN    NaN    2773.0   118462.0   322386.0
43               South Carolina   NaN    NaN    6329.0   113247.0   224820.0
44                 South Dakota   NaN    NaN     711.0    36231.0    99303.0
45                    Tennessee   NaN    NaN   12319.0   187336.0   446734.0
46                        Texas   NaN   91.0   20623.0   494349.0  1211894.0
47                         Utah   NaN    5.0    5552.0    82310.0   183869.0
48                      Vermont   NaN    NaN    1991.0    21171.0    25122.0
49               Virgin Islands   NaN    NaN     230.0     1509.0     1841.0
50                     Virginia   NaN    NaN    6941.0   223916.0   753259.0
51                   Washington  11.0   60.0   45132.0   324068.0   499036.0
52                West Virginia   NaN    NaN     866.0    21315.0    39582.0
53                    Wisconsin   NaN   25.0    9353.0   118741.0   313917.0
54                      Wyoming   NaN    NaN     776.0    10950.0    19212.0

      deaths
month     01   02      03        04        05
0        NaN  NaN    42.0    4044.0   11989.0
1        NaN  NaN     8.0     173.0     211.0
2        0.0  0.0    85.0    4848.0   16313.0
3        NaN  NaN    51.0    1011.0    2614.0
4        0.0  0.0  1113.0   30174.0   82736.0
5        NaN  NaN   340.0   11717.0   29847.0
6        NaN  NaN   283.0   29760.0   85465.0
7        NaN  NaN    31.0    1840.0    6953.0
8        NaN  NaN    41.0    2651.0    9455.0
9        NaN  NaN   489.0   19495.0   49993.0
10       NaN  NaN   702.0   18051.0   41052.0
11       NaN  NaN    11.0     156.0     162.0
12       NaN  NaN     1.0     273.0     457.0
13       NaN  NaN    34.0    1098.0    1938.0
14       0.0  0.0   448.0   32641.0  103901.0
15       NaN  NaN   245.0   14509.0   44307.0
16       NaN  NaN    26.0    1967.0    8666.0
17       NaN  NaN    60.0    2239.0    4838.0
18       NaN  NaN    84.0    3896.0    9106.0
19       NaN  NaN  1139.0   32409.0   63315.0
20       NaN  NaN    14.0     843.0    1833.0
21       NaN  NaN    84.0   13711.0   49309.0
22       NaN  0.0   340.0   42952.0  143856.0
23       NaN  NaN   967.0   59519.0  127237.0
24       NaN  NaN    45.0    3804.0   17809.0
25       NaN  NaN    88.0    3972.0   12944.0
26       NaN  NaN    96.0    5057.0   14883.0
27       NaN  NaN    11.0     279.0     434.0
28       NaN  0.0    13.0     866.0    3135.0
29       NaN  NaN   123.0    4020.0    9017.0
30       NaN  NaN    17.0    1009.0    4128.0
31       NaN  NaN  1214.0  102722.0  262671.0
32       NaN  NaN    16.0    1472.0    6353.0
33       NaN  NaN  7445.0  425222.0  736040.0
34       NaN  NaN    32.0    4804.0   16829.0
35       NaN  NaN     9.0     296.0    1081.0
36       NaN  NaN     0.0      54.0      54.0
37       NaN  NaN   219.0   12517.0   41176.0
38       NaN  NaN   101.0    3691.0    7554.0
39       NaN  0.0   129.0    1829.0    3553.0
40       NaN  NaN   267.0   30598.0  112125.0
41       NaN  NaN    35.0    1450.0    3101.0
42       NaN  NaN    17.0    3473.0   12672.0
43       NaN  NaN   127.0    3284.0    9802.0
44       NaN  NaN    22.0     211.0    1041.0
45       NaN  NaN    60.0    3758.0    7418.0
46       NaN  0.0   269.0   12274.0   33420.0
47       NaN  0.0    19.0     718.0    2034.0
48       NaN  NaN    92.0     958.0    1431.0
49       NaN  NaN     0.0      57.0     141.0
50       NaN  NaN   102.0    7019.0   25244.0
51       0.0  1.0  2377.0   16938.0   26336.0
52       NaN  NaN     3.0     514.0    1653.0
53       NaN  0.0   135.0    5402.0   11621.0
54       NaN  NaN     0.0      82.0     238.0